<h5 class="luckiest-guy-regular playground_adress"><%= playground.name %></h5>
<p class="playground_adress"><%= playground.address %></p>
<p class="playground_adress"><%= playground.description %></p>
