<div class="homepage-wrapper">
  <div class="homepage_image">
    <%= image_tag "playground.png" %>
  </div>
</div>

<div class="home">
  <h1 class="luckiest-guy-regular", id="home-message-text" >Welcome <%=  %> to Playground Buddies</h1>
  <%= button_to "Get Started", children_path, class: "button_start custom_shadow", method: :get %>
</div>
