<div class="homepage-wrapper">
  <div class="homepage_image">
    <%= image_tag "playground.png" %>
  </div>
</div>

<div class="home">
  <h2 class="homepage_message">Welcome to Playground Buddies</h2>
  <%= button_to "Get Started", children_path, class: "button_start", method: :get %>
</div>
