
.homepage_message{
font-family: "Comic Neue", cursive;
font-weight: 600;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.homepage_image {
  text-align: center;
  align-items: center;
  margin-top: 100px;
  img{
    width: 180px;
  }
}

.button_start {
  text-align: center;
  border-radius: 20px;
  background-color: rgb(149, 202, 185);
  font-family: "Comic Neue", cursive;
  align-items: center;
  padding: 10px;
  width: 250px;
  border-color: white;
  margin-left: 70px;
  font-weight: bold;
  font-size: large;
}

.home {
  margin-bottom: 300px;
}
