.messages {
  background-color: #e1dbf3;
  margin: 15px;
  padding: 12px 16px;
  border-radius: 16px;
  max-width: 70%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.message-info {
    opacity: 0.5;
    text-align: center;
    width: fit-content;
}

.message-field {
  margin: 15px;
}

#send {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 70px;
}

.send-button {
  border-radius: 15px;
  border: 3px solid rgb(122, 101, 187);
  padding: 10px;
  background-color: rgb(122, 101, 187) ;
}

.message-content {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
}

.message.sent .message-content {
    align-self: flex-end;
    background: $blue;
    color: $light-gray;
}

.message.received .message-content {
    align-self: flex-start;
    background: $gray-200;
}

.button-back-navigation {
  background-color: #e1dbf3;
  border-radius: 15px;
  padding: 10px;
  margin: 15px;;
  width: 50px;
  height: 20px;
}

.messages-box {
  background-color: #f8f6fb;
  margin: 15px;
  padding: 10px;
  border-radius: 15px;
}