.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.dropdown-item, .nav-item {
  text-align: right;
  font-family: "Comic Neue", cursive;
}

.navbar-toggler-icon {
  width: 15px !important;
  height: 10px !important;
}
